*{
    margin: 0;
    padding: 0;
}

p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: normal;
}

h1{
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 48px;
}

h6{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    box-sizing: border-box;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    column-gap: 24px;
}

.slide{
    background-image: url("../resources/pexels-sharon-mccutcheon-1191639.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
}

.degradado{
    background: linear-gradient(90deg, #42d9c700, #42D9C8);
    width: 100%;
    height: calc(100vh - 73px) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.titulo{
    font-size: 36px;
    color: #FFFFFF;
}

.equis{
    max-width: 500px;
    padding-right: 4em;
}

.info{
    padding-top: 2em;
    color: #FFFFFF;
}

.reason{
    background: #F282BE;
    width: 100%;
}

.reason_title{
    padding: 1.5em;
    color: #FFFFFF;
}

.reason_info{
    padding-left: 3.5em;
    padding-bottom: 10em;
    color: #FFFFFF;
}

.reason_graphic{
    
}

.why_title{
    display: flex;
    justify-content: center;
    padding: 3.5em;
}

.why_info{
    display: flex;
    padding-left: 3.5em;
    padding-right: 3.5em;
    justify-content: center;
}

.why_quality{
    padding-left: 1.75em;
    padding-right: 1.75em;
}

.why_satisfied{
    padding-left: 1.75em;
    padding-right: 1.75em;
}

.why_smile{
    padding-left: 1.75em;
    padding-right: 1.75em;
}



