.why_title{
    display: flex;
    justify-content: center;
    padding-bottom: 2em;
}

.why_info{
    display: flex;
    padding-left: 3.5em;
    padding-right: 3.5em;
    justify-content: center;
    padding-bottom: 8em;
    flex-direction: row;
    text-align: center;
}

.why_quality{
    display: flex;
    padding-left: 1.75em;
    padding-right: 1.75em;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.why_satisfied{
    display: flex;
    padding-left: 1.75em;
    padding-right: 1.75em;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.why_smile{
    display: flex;
    padding-left: 1.75em;
    padding-right: 1.75em;
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.why_estrella{
    width: 75px;
    height: 72px;
    padding-bottom: 2em;
}

.why_satisfecho{
    width: 72px;
    height: 72px;
    padding-bottom: 2em;
}

.why_sonrisa{
    width: 72px;
    height: 72px;
    padding-bottom: 2em;
}

@media only screen and (max-width: 850px){
    .why_info{
        flex-direction: column;
    }
}