.reason{
    display: flex;
    background: #F282BE;
    width: 100%;
    flex-direction: row;
    position: relative;
}

.reason_texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 10em; 
}

.reason_donut{
    margin-top: 3.5em;
    margin-right: 3.5em;
    width: 442px;
    height: 574px;
    
}

.sparkle{
    position: absolute;
    right: 10%;
    top: 46%;
}

.sparkle2{
    position: absolute;
    right: 10%;
    top: 20%;
}

.sparkle3{
    position: absolute;
    right: 5%;
    top: 35%;
}

.sparkle4{
    position: absolute;
    right: 7%;
    top: 15%;
}

.sparkle5{
    position: absolute;
    right: 12%;
    top: 9%;
}

.sparkle8{
    position: absolute;
    right: 14%;
    top: 40%;
}

.sparkle9{
    position: absolute;
    right: 16%;
    top: 5%;
}

.sparkle10{
    position: absolute;
    right: 24%;
    top: 32%;
}

.sparkle11{
    position: absolute;
    right: 20%;
    top: 30%;
}

.sparkle12{
    position: absolute;
    right: 8%;
    top: 1%;
}

.reason_title{
    margin: 1.5em;
    color: #FFFFFF;
    text-align: center;
}

.reason_info{
    color: #FFFFFF;
    text-align: justify;
    margin-left: 3.5em;
    margin-right: 3.5em;
}

.reason_button{
    margin-top: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 4px;
    background: #7B8CDE;
    color: #FFFFFF;
    align-items: center;
}

@media only screen and (max-width: 950px){
    .reason{
        flex-direction: column;
        align-items: flex-end;
    }
    .reason_info{
        margin-left: 3em;
        margin-right: 3em;
        text-align: center;
    }


    .reason_donut{
        justify-content: center;
        margin-top: 5em;
        margin-right: 0em;
        margin-left: 0em;
    }

    .reason_texto{
        margin-right: 1em;
        margin-left: 1em;
    }
    
}