.comment{
    display: flex;
    justify-content: center;
    margin: 5em;
    flex-direction: column;
}

.comment_opinion{
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 48px;
    text-align:center;
}

.comment_person{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 1.5em;
}

.comment_name{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

.comment_city{
    font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1100px){
    .comment{
        margin-left: 1em;
        margin-right: 1em;
    }
    .comment_opinion{
        font-size: 40px;
    }
}