.productDet{
    
    display: flex;
    justify-content: center;
    margin: 4em 4em;

    &__principalImg{
        width: 500px;
        height: 500px;
        border: 4px solid #7B8CDE;
        border-radius: 20px;
    }

    &__title{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 36px;
        line-height: 42px;

        color: #000000;
    }

    &__detImages{
        margin-right: 2em;
    }

    &__star{
        height: 32px;
        width: 200px;
        background-image: url(../resources/defaultCalification.png);
        background-size: 100%;
        box-sizing: border-box;
        img {
            object-fit: cover;
            object-position: left;
            height: 100%;
            width: 50%;
        }
    }

    &__price{
        margin-top: 1em;
    }

    &__info{
        margin-left: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__description{
        margin-top: 1em;
    }

    &__calification{
        margin-top: 1em;
    }

    &__list{
        margin-top: 2em;
    }

    &__buttons{
        display: flex;
        justify-content: flex-start;
        margin-top: 2em;
    }

    &__add{
        background: #7B8CDE;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        color: white;
        border-radius: 10px;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        border: none;
    }

    &__add:hover{
        background: #6C7CC7;
    }

    &__quantity{
        display: flex;
        flex-direction: row;
        margin-left: 2em;
    }

    &__number{
        width: 50px;
        border: 4px solid #7B8CDE;
        padding: 1em 0em;
        margin: 0px;
        text-align: center;
        color: #7B8CDE;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    &__decrease{
        background: #7B8CDE;
        color: white;
        border-radius: 10px 0px 0px 10px;
        border: none;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1em 0;
        width: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    &__slides{
        display: flex;
        justify-content: center
    }
    
    &__radio3{
        margin-left: 1em;
    }

    &__radio2{
        margin-left: 1em;
    }

    &__decrease:hover{
        background: #6C7CC7;
    }

    &__increase{
        background: #7B8CDE;
        color: white;
        border-radius: 0px 10px 10px 0px;
        border: none;
        margin: 0;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 1em 0;
        width: 50px;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    &__increase:hover{
        background: #6C7CC7;
    }

}

@media only screen and (max-width: 1000px){
    .productDet{
        display: flex;
        flex-direction: column;

        &__buttons{
            justify-content: flex-start;
        }

        &__quantity{
            margin-left: 2em;
        }
    }
}