.options{
    background: #7B8CDE;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 1em;

    &__btn{
        background: none;
        color: #FFFFFF;
        border: none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px; 
    }
}

.orders{
    margin: 1em;
    background: #7B8CDE;
    border-radius: 10px;
    display: inline-block;

    &__name{
        background: #c4c4c4;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        color: white;
    }

    &__list{
        display: block;
        background: #c4c4c4;
        margin: 0 1em 1em;
        padding: 1em;
        border-radius: 10px;
        width: 220px;
    }

    &__img{
        width: 150px;
        height: 150px;
        border-radius: 10px;
        display: flex;
    }

    &__info{
        margin-top: 1em;
    }

    &__productName{
        color: #ffffff;
    }

    &__numbers{
        display: flex;
        align-items: flex-end;
    }

    &__productPrice{
        margin-top: 0.5em;
    }

    &__quantity{
        margin-left: 0.5em;
    }

}

label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

input[type='checkbox']{
    margin-right: 1em;
}

input[type='number']{
    background: white;
    color: #7B8CDE;
    padding: 1em;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
}

input[type='text']{
    display: flex;
    background: white;
    padding: 0.5em;
    color: #7B8CDE;
    border-radius: 6px;
    border: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    border: 4px solid #7B8CDE;
}

.productForms{
    &__img{
        width: 300px;
    }
    /*background: #42D9C8;
    color: white;
    padding: 1em;
    width: 350px;
    border-radius: 20px;

    &__name{
        margin: 1em;
    }

    &__price{
        margin-top: 2em;
        margin-left: 1em;
    }

    &__inputPrice{
        border-radius: 10px;
    }

    &__statusOptions{
        margin-top: 1em;
        margin-right: 1em;
    }

    &__status{
        margin-top: 2em;
        margin-left: 1em;
    }

    &__content{
        margin-top: 2em;
        margin-left: 1em;
        margin-bottom: 2em;
    }

    &__contentOptions{
        margin-top: 1em;
    }

    &__button{
        background: #7B8CDE;
        color: white;
        padding: 1em;
        border-radius: 10px;
        border: none;
    }

    &__inputTypeProduct{
        padding: 1em;
        border-radius: 10px;
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        color: #7B8CDE;
    }

    &__labelTypeProduct{
        margin-top: 1em;
        margin-left: 1em;
    }

    &__type{
        margin-top: 2em;
        margin-bottom: 2em;
    }

    &__img{
        width: 300px;
    }

    &__images{
        display: flex;
        margin: 4px, 10px, 0px, 0px;
    }

    &__input{
        display: flex;
        background: white;
        padding: 0.5em;
        color: #7B8CDE;
        border-radius: 6px;
        border: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
        border: 4px solid #7B8CDE;
    }*/

    background: #7B8CDE;
    width: 400px;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    display: block;

    &__label{
        display: list-item;
        list-style-type: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }

    &__input{
        padding: 1em;
        border-radius: 10px;
    }

    &__button{
        display: list-item;
    }

    &__name{
        margin-top: 1em;
    }

    &__price{
        margin-top: 1em;
    }

    &__type{
        margin-top: 1em;
    }

    &__status{
        margin-top: 1em;
    }

    &__content{
        margin-top: 1em;
    }

    &__stars{
        margin-top: 1em;
    }

    &__images{
        margin-top: 1em; 
    }

    &__button{
        color: #7B8CDE;
        background: #FFFFFF;
        border: none;
        margin-top: 1em;
        padding: 1em;
        border-radius: 10px;
    }
}

.successfullMsg{
    color: green;
}

.errorMsg{
    color: red;
}