.adminBtn{
    background: #7B8CDE;
    display: flex;
    justify-content: space-evenly;
    padding: 2em 1em;



    &__orders{
        background: none;
        color: #FFFFFF;
        border: none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px; 
    }

    &__add{
        background: none;
        color: #FFFFFF;
        border: none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px; 
    }

    &__delete{
        background: none;
        color: #FFFFFF;
        border: none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px; 
    }

    &__orders:hover{
        color: #c4c4c4;
    }

    &__add:hover{
        color: #c4c4c4;
    }

    &__delete:hover{
        color: #c4c4c4;
    }
}

.orders{
    margin: 1em;

    &__name{
        background: #eeeeee;
        padding: 1em;
        margin: 1em;
        border-radius: 10px;
        color: white;
    }

    &__list{
        background: #eeeeee;
        padding: 1em;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
    }

    &__optionsBtn{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    &__productTotal{
        margin: 0.5em 0em;
    }

    &__img{
        width: 100px;
        height: 100px;
        border-radius: 10px;
        display: flex;
    }

    &__info{
        margin: 1em 1em;
    }

    &__content{
        width: 420px;
    }

    &__productName{
        color: #000000;
    }

    &__numbers{
        display: flex;
        align-items: flex-end;
    }

    &__productPrice{
        margin-top: 0.5em;
    }

    &__quantity{
        margin-left: 0.5em;
    }

    &__edit{
        background: #7B8CDE;
        border: none;
        padding: 0.5em;
        border-radius: 5px;
    }

    &__editIcon{
        width: 32px;
        height: 32px;
    }

    &__delete{
        background: #7B8CDE;
        border: none;
        padding: 0.5em;
        border-radius: 5px;
        color: #FFFFFF;
    }

    &__DeleteIcon{
        width: 32px;
        height: 32px;
    }

    &__final{
        display: flex;
    }

}

.orderContainer{
    margin-bottom: 1em;
}

.cartInfo{
    display: flex;
    flex-wrap: wrap;
    margin: 1em;

    &__content{
        background: #eeeeee;
        border-radius: 10px;
        width: 380px;
        margin-bottom: 1em;
        margin: 0em 0.5em;
    }

    &__name{
        padding: 1em;
        background: #7B8CDE;
        border-radius: 10px 10px 0px 0px;
        color: #FFFFFF;
    }

    &__info{
        padding: 1em;
    }

    &__address{
        color: #AEACAC;
    }

    &__date{
        margin-top: 0.5em;
        color: #AEACAC;
    }

    &__total{
        margin-top: 0.5em;
        color: #AEACAC;
    }

    strong{
        color: #000000;
    }

}

label{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
}

.ordersForms{
    background: #7B8CDE;
    width: 400px;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    display: block;

    &__label{
        display: list-item;
        list-style-type: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }

    &__input{
        padding: 0.5em;
        border-radius: 5px;
        border: none;
        width: 90%;
    }

    &__text{
        margin-top: 1em;
    }

    &__button{
        display: list-item;
    }

    &__name{
        margin-top: 1em;
    }

    &__price{
        margin-top: 1em;
    }

    &__type{
        margin-top: 1em;
    }

    &__status{
        margin-top: 1em;
    }

    &__content{
        margin-top: 1em;
    }

    &__stars{
        margin-top: 1em;
    }

    &__images{
        margin-top: 1em; 
    }

    &__button{
        color: #7B8CDE;
        background: #FFFFFF;
        border: none;
        margin-top: 1em;
        padding: 1em 2em;
        border-radius: 5px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }

    &__textArea{
        height: 100px;
        width: 90%;
        border-radius: 10px;
    }

}

.productForms{
    &__img{
        width: 300px;
    }

    background: #7B8CDE;
    width: 400px;
    margin: 1em;
    border-radius: 10px;
    padding: 1em;
    display: block;

    &__label{
        display: list-item;
        list-style-type: none;
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        color: #FFFFFF;
    }

    &__input{
        padding: 0.5em;
        border-radius: 5px;
        border: none;
        width: 90%;
    }

    &__text{
        margin-top: 1em;
    }

    &__button{
        display: list-item;
    }

    &__name{
        margin-top: 1em;
    }

    &__price{
        margin-top: 1em;
    }

    &__type{
        margin-top: 1em;
    }

    &__status{
        margin-top: 1em;
    }

    &__content{
        margin-top: 1em;
    }

    &__stars{
        margin-top: 1em;
    }

    &__images{
        margin-top: 1em; 
    }

    &__button{
        color: #7B8CDE;
        background: #FFFFFF;
        border: none;
        margin-top: 1em;
        padding: 1em 2em;
        border-radius: 5px;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 14px;
    }

    &__textArea{
        height: 100px;
        width: 90%;
        border-radius: 10px;
    }
}

.divForms{
}

.successfullMsg{
    color: green;
}

.errorMsg{
    color: red;
}