.list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

.product{

    input[type=number]::-webkit-inner-spin-button, 
        input[type=number]::-webkit-outer-spin-button { 
        -webkit-appearance: none; 
    }
    width: 320px;
    margin: 1.5em;

    &__information{
        display: grid;
        grid-template: 1fr / 1fr 48px;
        padding: 0 16px 16px;
        box-sizing: border-box;
    }

    &__title{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
        color: #000000;
        text-decoration:none;
        display: block;
    }

    &__calification{
        width: 120px;
        padding-top: 1em;
        box-sizing: border-box;
    }

    &__addBtn{
        background: #000000;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 1.5em;
        padding-right: 1.5em;
        border-radius: 10px;
        color: white;
        border:none;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        margin-top: 2em;
        margin-right: 0.5em;
    }

    &__addBtn:hover{
        background: #4D515B;
    }

    &__price{
        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        margin-top: 2em;
        margin-left: 0.5em;
    }

    &__info{
        display: flex;
        justify-content: center;
    }

    &__quantities{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__increase{
        background: #000000;
        color: white;
        border-radius: 10px 10px 0px 0px;
        border: none;
        margin: 0;
        box-sizing: border-box;
        padding: 1em 0;
        width: 100%;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    &__increase:hover{
        background: #4D515B;
    }

    &__number{
        background: white;
        color: #000000;
        border: 4px solid #000000;
        margin: 0;
        width: 100%;
        height: 3em;
        box-sizing: border-box;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
        
        margin: 0; 
    }

    &__decrease{
        background: #000000;
        color: white;
        border-radius: 0px 0px 10px 10px;
        border: none;
        margin: 0;
        box-sizing: border-box;
        padding: 1em 0;
        width: 100%;

        font-family: Roboto;
        font-style: normal;
        font-weight: bold;
        font-size: 16px;
    }

    &__decrease:hover{
        background: #4D515B;
    }

    &__filter{
        display: flex;
        justify-content: space-around;
        background: #7B8CDE;
        padding: 1.5em;
        color: white;
    }
}

.image{
    width: 320px;
    border-radius: 8px;
    background: #42D9C8;
    justify-content: center;
}

model-viewer{
    width: 320px;
    height: 320px;
}

.menuPic{
    display: none;
}

@media only screen and (max-width: 1100px){
    .option{
        display: none;
    }

    .menuPic{
        display: flex; 
    }

    .option2{
        flex-direction: column;
        text-align: right;
        justify-content: flex-end;
        background: #7b8cdeaf;
        width: 100%;
    }

    .product{
        margin: 1.5em;
    }
}