*{
    margin: 0;
    padding: 0;
}

p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: lighter;
}

p .reason_info{
    text-align: left;
}

h1{
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 48px;
}

h6{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    box-sizing: border-box;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    column-gap: 24px;
}



@import 'indexSlide';
@import 'indexReason';
@import 'indexWhy';
@import 'indexDestacado';
@import 'indexComment';
@import 'indexFinal';


