* {
  margin: 0;
  padding: 0;
}

p {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: normal;
}

h1 {
  font-family: Yeseva One;
  font-weight: normal;
  font-size: 48px;
}

h6 {
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  color: #C4C4C4;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 24px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  z-index: 3;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: white;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-column-gap: 24px;
          column-gap: 24px;
  padding-left: 2em;
  padding-right: 2em;
}

.option2 {
  display: none;
  position: fixed;
  top: 107px;
  z-index: 1;
}

.option2 h6 {
  color: white;
  margin-right: 2em;
}

.menuPic {
  display: none;
}

.logoCorto {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .option {
    display: none;
  }
  .menuPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .option2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: #7b8cdeaf;
    width: 100%;
  }
  h6 {
    padding: 1em;
  }
  .logoCorto {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .logoAmplio {
    display: none;
  }
}

.slider {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.slides {
  width: 500%;
  height: 680px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide_degradado1 {
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#42d9c700), to(#42D9C8));
  background: linear-gradient(90deg, #42d9c700, #42D9C8);
  width: 100%;
  height: calc(100vh - 73px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 680px;
}

.slide_degradado2 {
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#42d9c700), to(#7B8CDE));
  background: linear-gradient(90deg, #42d9c700, #7B8CDE);
  width: 100%;
  height: calc(100vh - 73px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 680px;
}

.slide_degradado3 {
  position: absolute;
  top: 0;
  background: -webkit-gradient(linear, left top, right top, from(#42d9c700), to(#F6BD60));
  background: linear-gradient(90deg, #42d9c700, #F6BD60);
  width: 100%;
  height: calc(100vh - 73px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 680px;
}

.slide_content {
  max-width: 500px;
  padding-right: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slide_info {
  padding-top: 2em;
  color: #FFFFFF;
}

.slide_button {
  margin-top: 2em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 4px;
  background: #7B8CDE;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.slide_button:hover {
  background: #5068dd;
}

.slide_title {
  font-size: 36px;
  color: #FFFFFF;
}

.radioBtn {
  display: none;
}

.slide {
  width: 20%;
  -webkit-transition: 2s;
  transition: 2s;
}

.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/* css for manual slide navigation*/
.navigation-manual {
  position: absolute;
  width: 100%;
  margin-top: -40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.manual-btn {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: 1s;
  transition: 1s;
}

.manual-btn:not(:last-child) {
  margin-right: 40px;
}

.manual-btn:hover {
  background: white;
}

#radio1:checked ~ .first {
  margin-left: 0;
}

#radio2:checked ~ .first {
  margin-left: -20%;
}

#radio3:checked ~ .first {
  margin-left: -40%;
}

/*css for automatic navigation*/
.navigation-auto {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -40px;
}

.navigation-auto div {
  border: 2px solid white;
  padding: 5px;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation-auto div:not(:last-child) {
  margin-right: 40px;
}

#radio1.checked ~ .navigation-auto .auto-btn1 {
  background: white;
}

#radio2.checked ~ .navigation-auto .auto-btn2 {
  background: white;
}

#radio3.checked ~ .navigation-auto .auto-btn3 {
  background: white;
}

@media only screen and (max-width: 1000px) {
  .slide_title {
    text-align: center;
  }
  .slide_info {
    text-align: center;
  }
  .slide_content {
    padding-right: 2em;
    padding-left: 2em;
  }
  .slide_degradado1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#42d9c75e), to(#42D9C8));
    background: linear-gradient(180deg, #42d9c75e, #42D9C8);
  }
  .slide_degradado2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#7b8cde7e), to(#7B8CDE));
    background: linear-gradient(180deg, #7b8cde7e, #7B8CDE);
  }
  .slide_degradado3 {
    background: -webkit-gradient(linear, left top, left bottom, from(#f6bd6080), to(#F6BD60));
    background: linear-gradient(180deg, #f6bd6080, #F6BD60);
  }
}

/*.slide{
    background-image: url("../resources/slide1.jpg");
    width: 100%;
    background-size: cover;
    background-position: center;
}

.slide_degradado{
    background: linear-gradient(90deg, #42d9c700, #42D9C8);
    width: 100%;
    height: calc(100vh - 73px) ;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.slide_title{
    font-size: 36px;
    color: #FFFFFF;
}

.slide_content{
    max-width: 500px;
    padding-right: 4em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slide_info{
    padding-top: 2em;
    color: #FFFFFF;
}

.slide_button{
    margin-top: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 4em;
    padding-right: 4em;
    border-radius: 4px;
    background: #7B8CDE;
    color: #FFFFFF;
    align-items: center;
}

@media only screen and (max-width: 1100px){
    .slide_title{
        text-align: center;
    }

    .slide_info{
        text-align: center;
    }

    .slide_content{
        padding-right: 2em;
        padding-left: 2em;
    }
}*/
.reason {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #F282BE;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: relative;
}

.reason_texto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 10em;
  z-index: 1;
  margin-bottom: 6em;
}

.reason_donut {
  margin-top: 3.5em;
  margin-right: 3.5em;
  width: 442px;
  height: 574px;
}

.sparkle {
  position: absolute;
  right: 10%;
  top: 46%;
}

.sparkle2 {
  position: absolute;
  right: 10%;
  top: 20%;
}

.sparkle3 {
  position: absolute;
  right: 5%;
  top: 35%;
}

.sparkle4 {
  position: absolute;
  right: 7%;
  top: 15%;
}

.sparkle5 {
  position: absolute;
  right: 12%;
  top: 9%;
}

.sparkle8 {
  position: absolute;
  right: 14%;
  top: 40%;
}

.sparkle9 {
  position: absolute;
  right: 16%;
  top: 5%;
}

.sparkle10 {
  position: absolute;
  right: 24%;
  top: 32%;
}

.sparkle11 {
  position: absolute;
  right: 20%;
  top: 30%;
}

.sparkle12 {
  position: absolute;
  right: 8%;
  top: 1%;
}

.reason_title {
  margin: 1.5em;
  color: #FFFFFF;
  text-align: center;
}

.reason_info {
  color: #FFFFFF;
  text-align: justify;
  margin-left: 3.5em;
  margin-right: 3.5em;
}

.reason_button {
  margin-top: 4em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 4px;
  background: #7B8CDE;
  color: #FFFFFF;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.reason_button:hover {
  background: #5068dd;
}

@media only screen and (max-width: 950px) {
  .reason {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .reason_info {
    margin-left: 3em;
    margin-right: 3em;
    text-align: center;
  }
  .reason_donut {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 5em;
    margin-right: 0em;
    margin-left: 0em;
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  .reason_texto {
    margin-right: 1em;
    margin-left: 1em;
  }
  .reason_sparkle {
    width: 100%;
    overflow: hidden;
  }
  .sparkle {
    bottom: 10%;
  }
}

.why_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
  text-align: center;
}

.why_info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 3.5em;
  padding-right: 3.5em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 6em;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.why_quality {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.75em;
  padding-right: 1.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.why_satisfied {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.75em;
  padding-right: 1.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.why_smile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 1.75em;
  padding-right: 1.75em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 2em;
  padding-bottom: 2em;
}

.why_estrella {
  width: 75px;
  height: 72px;
  padding-bottom: 2em;
}

.why_satisfecho {
  width: 72px;
  height: 72px;
  padding-bottom: 2em;
}

.why_sonrisa {
  width: 72px;
  height: 72px;
  padding-bottom: 2em;
}

@media only screen and (max-width: 1000px) {
  .why_info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.destacado {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #7B8CDE;
  width: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.destacado_title {
  padding-top: 2em;
  padding-bottom: 2em;
  text-align: center;
  color: #FFFFFF;
}

.destacado_products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-bottom: 6em;
}

model-viewer {
  width: 300px;
  height: 300px;
  border-radius: 12px;
}

.destacado_content1 {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destacado_content2 {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.destacado_content3 {
  margin-bottom: 4em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donut1 {
  border-radius: 8px;
  background: #F28482;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.donut2 {
  border-radius: 8px;
  background: #42D9C8;
}

.donut3 {
  border-radius: 8px;
  background: #F6BD60;
}

.destacado_button_1 {
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 4px;
  background: #F5CAC3;
  color: #FFFFFF;
  border: none;
}

.destacado_button_1:hover {
  background: #f08b7b;
}

.destacado_button_2 {
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 4px;
  background: #F5CAC3;
  color: #FFFFFF;
  border: none;
}

.destacado_button_2:hover {
  background: #f08b7b;
}

.destacado_button_3 {
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 4em;
  padding-right: 4em;
  border-radius: 4px;
  background: #F5CAC3;
  color: #FFFFFF;
  border: none;
}

.destacado_button_3:hover {
  background: #f08b7b;
}

@media only screen and (max-width: 1000px) {
  .destacado_products {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment_opinion {
  font-family: Yeseva One;
  font-weight: normal;
  font-size: 48px;
  text-align: center;
}

.comment_person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin: 1.5em;
}

.comment_name {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.comment_city {
  font-family: 'Open Sans', sans-serif;
}

@media only screen and (max-width: 1000px) {
  .comment {
    margin-left: 2em;
    margin-right: 2em;
  }
  .comment_opinion {
    font-size: 40px;
  }
}

.final {
  background: #21242C;
}

.final__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 3.5em;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.final__newsletter {
  padding: 1.75em;
  border: 4px solid #FFFFFF;
  max-width: 320px;
}

.final__email {
  margin-top: 2em;
  margin-right: 2em;
  width: 70%;
  background: none;
  color: #FFFFFF;
  border: none;
  border-bottom: 2px solid #FFFFFF;
  font-family: Roboto;
}

.final__button {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  border: none;
}

.letter {
  font-size: Open Sans;
  font-size: 36px;
  font-weight: bold;
  color: #FFFFFF;
}

.final__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.final__content h4 {
  font-family: Roboto;
  font-size: 16px;
  color: #FFFFFF;
  opacity: 0.5;
}

.final__content p {
  font-family: Roboto;
  font-size: 12px;
  color: #FFFFFF;
  padding-top: 1em;
}

.final__contactUs {
  padding: 1.75em;
}

.final__about {
  padding: 1.75em;
}

.final__products {
  padding: 1.75em;
}

@media only screen and (max-width: 1000px) {
  .final__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .final__content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .final__contactUs {
    padding-top: 3.5em;
    padding-left: 0em;
  }
  .final__about {
    padding-left: 0em;
  }
  .final__products {
    padding-left: 0em;
  }
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 2em;
  margin-bottom: 2em;
}

.product {
  width: 320px;
  margin: 1.5em;
}

.product input[type=number]::-webkit-inner-spin-button,
.product input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.product__information {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  -ms-grid-columns: 1fr 50px;
      grid-template: 1fr / 1fr 50px;
  padding: 0 16px 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.product__title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;
  color: #000000;
  text-decoration: none;
  display: block;
}

.product__calification {
  height: 23px;
  width: 141px;
  background-image: url(../resources/defaultCalification.png);
  background-size: 100%;
  margin-top: 1em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.product__calification img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: left;
     object-position: left;
  height: 100%;
  width: 50%;
}

.product__addBtn {
  background: #000000;
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  border-radius: 10px;
  color: white;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin-top: 2em;
  margin-right: 0.5em;
}

.product__addBtn:hover {
  background: #4D515B;
}

.product__price {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  margin-top: 2em;
  margin-left: 0.5em;
}

.product__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.product__quantities {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.product__increase {
  background: #000000;
  color: white;
  border-radius: 10px 10px 0px 0px;
  border: none;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 0;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.product__increase:hover {
  background: #4D515B;
}

.product__number {
  background: white;
  color: #000000;
  border: 4px solid #000000;
  margin: 0;
  width: 100%;
  height: 3em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  margin: 0;
}

.product__decrease {
  background: #000000;
  color: white;
  border-radius: 0px 0px 10px 10px;
  border: none;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1em 0;
  width: 100%;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
}

.product__decrease:hover {
  background: #4D515B;
}

.product__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: #7B8CDE;
  padding: 1.5em;
  color: white;
}

.product__img {
  width: 250px;
  margin: 1em;
}

.image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 320px;
  border-radius: 20px;
  background: #FFFFFF;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 4px solid #000000;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*model-viewer{
    width: 320px;
    height: 320px;
}*/
.menuPic {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .option {
    display: none;
  }
  .menuPic {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .option2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    background: #7b8cdeaf;
    width: 100%;
  }
  .product {
    margin: 1.5em;
  }
}

label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

input[type='checkbox'] {
  margin-right: 1em;
}

input[type='number'] {
  background: white;
  color: #7B8CDE;
  padding: 1em;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

input[type='text'] {
  background: white;
  color: #7B8CDE;
  padding: 1em;
  border-radius: 10px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}

.productForms {
  background: #42D9C8;
  color: white;
  padding: 1em;
  width: 350px;
  border-radius: 20px;
}

.productForms__name {
  margin: 1em;
}

.productForms__price {
  margin-top: 2em;
  margin-left: 1em;
}

.productForms__inputPrice {
  border-radius: 10px;
}

.productForms__statusOptions {
  margin-top: 1em;
  margin-right: 1em;
}

.productForms__status {
  margin-top: 2em;
  margin-left: 1em;
}

.productForms__content {
  margin-top: 2em;
  margin-left: 1em;
  margin-bottom: 2em;
}

.productForms__contentOptions {
  margin-top: 1em;
}

.productForms__button {
  background: #7B8CDE;
  color: white;
  padding: 1em;
  border-radius: 10px;
  border: none;
}

.productForms__inputTypeProduct {
  padding: 1em;
  border-radius: 10px;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  color: #7B8CDE;
}

.productForms__labelTypeProduct {
  margin-top: 1em;
  margin-left: 1em;
}

.productForms__type {
  margin-top: 2em;
  margin-bottom: 2em;
}

.productForms__img {
  width: 300px;
}

.productForms__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 4px, 10px, 0px, 0px;
}

.successfullMsg {
  color: green;
}

.errorMsg {
  color: red;
}

.hidden {
  display: none !important;
}
/*# sourceMappingURL=index.css.map */