*{
    margin: 0;
    padding: 0;
}

p {
    font-family: Open Sans;
    font-size: 18px;
    font-weight: normal;
}

h1{
    font-family: Yeseva One;
    font-weight: normal;
    font-size: 48px;
}

h6{
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    color: #C4C4C4;
}


.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 24px;
    box-sizing: border-box;
    z-index: 3;
    position: sticky;
    top: 0;
    background: white;
}

.option{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    column-gap: 24px;
    padding-left: 2em;
    padding-right: 2em;
}

.option2{
    display: none;
    position: fixed;
    top: 107px;
    z-index: 1;
    h6{
        color: white;
        margin-right: 2em;
    }
}

.menuPic{
    display: none;
}

.logoCorto{
    display: none;
}




@media only screen and (max-width: 1100px){
    .option{
        display: none;
    }

    .menuPic{
        display: flex; 
    }

    .option2{
        flex-direction: column;
        text-align: right;
        justify-content: flex-end;
        background: #7b8cdeaf;
        width: 100%;
    }

    h6{
        padding: 1em;
    }

    .logoCorto{
        display: flex;
    }

    .logoAmplio{
        display: none;
    }

}


@import 'indexSlide';
@import 'indexReason';
@import 'indexWhy';
@import 'indexDestacado';
@import 'indexComment';
@import 'indexFinal';
@import 'product';
@import 'productForms';
@import 'general';
@import 'modal';
@import 'productDetails';


